$primary-brown: #62444E;
$secondary-brown: #A19182;
$other-brown: #8e8264;

$primary-white: white linear-gradient(to bottom right, white, #f0f0f0);
$black: #666666;

// @import "./annotation.scss"

// .text-svg {
//  fill: config('colors.black');
// }
//
// .annotation-note-content {
//   // fill: black;
//   // font-weight: bold;
//   @apply .text-svg .text-base;
//
// }

.balloon {
  position: relative;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 8px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 -4px #fff, 0 -8px #212529, 4px 0 #fff, 4px -4px #212529, 8px 0 #212529, 0 4px #fff, 0 8px #212529, -4px 0 #fff, -4px 4px #212529, -8px 0 #212529, -4px -4px #212529, 4px 4px #212529;
}

.border-0 {
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
}

.border-1 {
    border-bottom-left-radius: 185px 25px;
    border-bottom-right-radius: 20px 205px;
    border-top-left-radius: 125px 25px;
    border-top-right-radius: 10px 205px;
}

.border-2 {
    border-bottom-left-radius: 225px 15px;
    border-bottom-right-radius: 15px 255px;
    border-top-left-radius: 15px 225px;
    border-top-right-radius: 255px 15px;
}

.border-3 {
    border-bottom-left-radius: 25px 115px;
    border-bottom-right-radius: 155px 25px;
    border-top-left-radius: 15px 225px;
    border-top-right-radius: 25px 150px;
}

.border-4 {
    border-bottom-left-radius: 20px 115px;
    border-bottom-right-radius: 15px 105px;
    border-top-left-radius: 250px 15px;
    border-top-right-radius: 25px 80px;
}

.border-5 {
    border-bottom-left-radius: 15px 225px;
    border-bottom-right-radius: 20px 205px;
    border-top-left-radius: 28px 125px;
    border-top-right-radius: 100px 30px;
}

svg {
  overflow: visible !important;
}

.vx-axis-tick {
  text {
    font-size: 12px;
  }
}

h3 {
  @apply .font-mono;
}

.text-base {
  @apply .text-black;
}

// * {
//   @apply
// }

div {
  @apply .text-black;
}


// @font-face {
//   font-family: typeWriter;
//   src: url(./american_typewriter.ttf);
// }

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "sliced juice";
  src: url(./sliced_juice.ttf);
}

// path {
//   stroke: $secondary-brown;
//   fill: none;
// }

// svg * {
//   stroke: black;
// }

// path {
//   fill-opacity: .1;
//   stroke-opacity: 1;
//   fill: none
// }

body {
  background: #b17c51 url(./bg.jpg);
}

// p {
//   font-family: "Meddon";
//   color: $primary-brown;
// }

// div {
//   font-family: "Meddon";
//   color: $primary-brown;
// }

// h1 {
//   font-size: 2.5em;
//   text-transform: uppercase;
//   font-weight: lighter;
//   letter-spacing: .15em;
//   font-family: "sliced juice";
//   color: grey;
// }
//
// h2 {
//   font-family: Arial, Helvetica, sans-serif;
//   font-size: .9em;
//   text-align: center;
//   text-transform: uppercase;
//   padding-bottom: 10px;
//   word-spacing: 5px;
//   letter-spacing: .1em;
// }
//
// h3 {
//   font-size: 1.2em;
//   font-style: italic;
//   text-align: center;
//   color: #8E8264;
// }
//
// h4 {
//   font-family: Arial, Helvetica, sans-serif;
//   text-transform: uppercase;
//   font-size: .8em;
//   color: $black;
//   letter-spacing: .1em;
//
//   // padding-left: 20px;
// }

ul {
  list-style: none;
}

ol {
  margin-left: 40px;
}

// p {
//   margin-bottom: 20px;
// }

hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

hr:last-child {
  display: none;
}

.serif {
  font-family: 'Meddon', serif;
  color: $primary-brown;
  font-style: italic;
}
