@import "../styles/variables.scss";

.tornBorder {
  // background: $primWhite;
  // border-style: solid;
  // border-width: 40px 40px 40px;
  // border-color: #f1f2f6;
  // -moz-border-image: url("http://news.unchealthcare.org/images/backgrounds/paper.jpg") 40 40 40 repeat;
  // -webkit-border-image: url("http://news.unchealthcare.org/images/backgrounds/paper.jpg") 40 40 40 repeat;
  // -o-border-image: url("http://news.unchealthcare.org/images/backgrounds/paper.jpg") 40 40 40 repeat;
  // border-image: url("http://news.unchealthcare.org/images/backgrounds/paper.jpg") 40 40 40 repeat;
}

.flipContainer {
  perspective: 1000px;
  width: 100%;
  height: 100%;
  position: relative;
}

/* flip speed goes here */
.flipper {
  width: 100%;
  height: 100%;
  transition: 0.6s;
  transform-style: preserve-3d;

  // position: absolute;
  // left: 0;
  // top: 0;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;

  // display: block;

  // width: 100%;
  // height: 100%;
  background: $primWhite;
  box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.3), inset 0 0 5px hsla(0, 0%, 0%, 0.3);
  padding: 20px 20px 20px 20px;
  color: $black;

  // text-decoration: underline;
  // font-style: italic;
  font-size: .9em;

  // top: 0;
  // left: 0;
}

// .front {
//   z-index: 3;
// }

.back {
  transform: rotateX(-180deg);
}

// ----------------------- NAV ---------------------------
.nav {
  transform: rotate(2deg);
  width: 90%;

  // font-family: 'Open Sans';
  background: $primWhite;
  padding: 25px;
  font-size: 18px;
  box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.3), inset 0 0 5px hsla(0, 0%, 0%, 0.3);

  a {
    text-decoration: none;
    color: black;
  }

  a:hover {
    // color: #0000FF;
    text-decoration: underline;
    color: $black;
  }
  // border: 3px solid #73AD21;
}


.title {
  height: 61px;
  margin-bottom: 20px;
}

// h3 {
//   color: #000000;
// }
// .tags li:before, .tags a, #tagged {
//   color: #999999;
// }

/* TAGGED */
// .tagged { font-style: italic; margin-bottom: 20px; color: #999999;}
//
// /* HORIZONTAL
// tr { vertical-align: top; }
// td { padding-right: 30px; }

// .contentBox {
//   height: auto;
//   overflow: hidden;
//   padding: 20px;
//   background: $main-color;
//   box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05);
//
//   &:before, &:after {
//     content: "";
//     height: 2px;
//     position: absolute;
//     left: 20px;
//     right: 20px;
//     clip-path: polygon(0% 0%, 5% 100%, 10% 0%, 15% 100%, 20% 0%, 25% 100%, 30% 0%, 35% 100%, 40% 0%, 45% 100%, 50% 0%, 55% 100%, 60% 0%, 65% 100%, 70% 0%, 75% 100%, 80% 0%, 85% 100%, 90% 0%, 95% 100%, 100% 0%);
//   }
//
//   &:before {
//     background-color: $bg-color;
//     top: 0;
//   }
//
//   &:after {
//     background-color: $main-color;
//     bottom: -2px;
//   }
// }

/*
Project: HTML & CSS Postcards
Vintage French Postcard
Author: Monica Aguinaga
URL: http://itsnot1889.com/
@thisismonica

Postcard Credit: Unknown (let me know via twitter if you know the origin)
stamp: http://dl.dropbox.com/u/5144828/stamp.jpg
bg: http://dl.dropbox.com/u/5144828/webtreats-paper-pattern-2-brown-5.jpg
 */

// .postcardCont {
//   background: $primWhite;
//   box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.3), inset 0 0 5px hsla(0, 0%, 0%, 0.3);
//   padding: 20px 20px 20px 20px;
// }

// .postcard h2 {
//   font-family: Arial, Helvetica, sans-serif;
//   font-size: .7em;
//   text-align: center;
//   text-transform: uppercase;
//   padding-bottom: 10px;
//   word-spacing: 5px;
//   letter-spacing: .1em;
// }
//
// .postcard h1 {
//   font-size: 1.6em;
//   text-transform: uppercase;
//   font-weight: lighter;
//   letter-spacing: .15em;
//
//   // display:inline;
// }

.socialMedia li {
  display: inline;
  text-align: center;
}

.socialMedia li a {
  text-decoration: none;
  padding: .2em 1em;

  // color: #fff;
  // background-color: #036;
}

// .postcard a {
//   color: #666666;
//   text-decoration: underline;
//   font-style: italic;
//   font-size: .9em;
// }

// a:hover {
//   color: #000000;
// }

::-moz-selection {
  color: #fff;
  color: rgba(255, 255, 255, 0.85);
  background: #D39995;
}

::selection {
  color: #fff;
  color: rgba(255, 255, 255, 0.85);
  background: #D39995;
}

// .nav-circle {
//   fill:none;
//   stroke:#000;
// }

// .link {
//   stroke-width: 1px;
//   stroke: black;
//   stroke-linecap: round;
//   fill: none;
//   vector-effect: non-scaling-stroke;
// }

// @font-face {
//   font-family: typeWriter;
//   src: url(./american_typewriter.ttf);
// }

/* Normalizes */
// .cover {
//   background-image: url('./postcard_bxl.jpg');
// }

// .postcard .capitalm {
//   font-family: Georgia, "Times New Roman", Times, serif;
//   font-style: normal;
//   font-size: .87em;
//   padding-right: 10px;
//   margin-bottom: -20px;
//   border-bottom: none;
// }

// .postcard h4 {
//   font-family: Arial, Helvetica, sans-serif;
//   text-transform: uppercase;
//   font-size: .8em;
//   color: #666666;
//   letter-spacing: .1em;
//   padding-left: 20px;
// }

// a:hover {
//   color: #000000;
// }

// ::-moz-selection {
//   color: #fff;
//   color: rgba(255, 255, 255, 0.85);
//   background: #D39995;
// }
//
// ::selection {
//   color: #fff;
//   color: rgba(255, 255, 255, 0.85);
//   background: #D39995;
// }

// .nav-circle {
//   fill:none;
//   stroke:#000;
// }

table, th, td {
  border: 2px solid grey !important;
  padding: 4px;
}

.centerTable {
  margin: auto;
  width: 100%;

  // border: 3px solid #73AD21;
  padding: 2px;
}

.passiveElement {
  z-index: -100;
}

.navCont {
  flex: 0 0 28%;
}

.mainCont {
  flex: 0 0 72%;
}

